DB_NAME=mccgcom_facturationdb
DB_USER=mccgcom_crmadmin
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=3306

SECRET_KEY=changeme
DEBUG=False
ALLOWED_HOSTS=test.mc-cg2.com,crm.mc-cg2.com
CSRF_TRUSTED_ORIGINS=https://test.mc-cg2.com,https://crm.mc-cg2.com
